@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url(reset.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --error: hsl(0, 100%, 66%);
    --gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(270, 3%, 87%);
    --dark-gray: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);
    --font: 'Space Grotesk', sans-serif;
}

/*! styles - fonts and colors */

body{
    font-family: var(--font);
    font-size: 18px;
}

#card-front-num{
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.card-bottom{
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    
}

.card-back{
    color: var(--white);
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}

label{
    color: var(--dark-violet);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

input{
    color: var(--dark-violet);
    background-color: var(--white);
    
}

::placeholder{
    color: var(--light-gray);
}

.error{
    color: var(--error);
    font-size: 0.8rem;
}

/*! layout */

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: auto;

}

aside{
    width: 100vw;
    height: 35vh;
    max-height: 15rem;
    background-image: url(images/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar{
    position:relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside::after{
    display: none;
    content: "";
    width: 400px;
    height: 500px;
    background-color: rgb(110, 108, 104);
    filter: blur(100px);
    position: fixed;
    transform: translateX(5vw) translateY(-65vh);
    z-index: -5;
    opacity: 0.8;

}

.card-front{
    position: absolute;
    width: clamp(30vw,17rem,80vw);
    aspect-ratio: 447/245;
    transform: translateX(-5.5vw) translateY(12vh);
    z-index: 2;
    background-image: url(images/bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    overflow: hidden;
}

.card-front>img{
    width: 4rem;
    padding: 1rem 0 1.5rem 1rem;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
}

.card-bottom>*{
    padding: 0 1rem;
}

.card-back{
    position: absolute;
    width: clamp(30vw,17rem,80vw);
    aspect-ratio: 447/245;
    transform: translateX(7vw) translateY(-1.5vh);
    background-image: url(images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

#card-back-cvc{
    padding-top: 24%;
    padding-right: 1.8rem;
}

main{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-container{
    width: 85vw;
    min-width: 300px;
    max-width: 25rem;
    padding-top: 1rem;
}

.name-container,
.number-container,
.expcvc-container {
    padding-top: 0.7rem;
    margin-bottom: 0.5rem;
}

label{
    margin: 1rem 0;
}

input{
    border: 0.1rem solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin-top: 0.2rem ;
    width: 100%;
    border-color: var(--light-gray);
}

input:focus{
    border-color: var(--dark-violet);
}

.expcvc-container{
    display: flex;
    justify-content: space-around;
    gap: 0.8rem;
    width: 100%;
}


.expcvc-container>div{
    width: 50%;
}

.mmyy-container{
    display: flex;
    gap: 0.5rem;
    

}

.mmyy-container>div{
    max-width: 50%;
}


.cvc-container{
    max-width: 50%;
}

#submit-btn{
    color: var(--white);
    background-color: var(--dark-violet);
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    margin: 1.5rem 0;

}

.error{
    padding-top: 0.2rem;
    position: absolute;
}

.confirmed{
    background-color: black;
    /* TODO CONTINUE FROM HERE */
}

/*! media queries*/

@media (min-width:700px) {
    body{
        flex-direction: row;
    }
    aside{
        width: 25%;
        height: 100%;
        background-image: url(images/bg-main-desktop.png);
        max-height: none;
        margin-right: 10rem;
    }
    aside::after{
        display: block;
    }
    .sidebar{
        width: 100%;
        height: 100vh;
    }
    .card-back,.card-front{
        /* width: clamp(20rem,30vw,30rem); */
        width: 30rem;
    }
    .card-front{
        transform: translateX(10vw) translateY(-15vh);
        padding: 0.5rem;
    }
    .card-front>img{
        width: 7rem;
        padding: 2rem 0 1.5rem 2rem;
    }
    #card-front-num{
        font-size: 2.2rem;
        padding-top: 5%;
    }
    .card-bottom{
        font-size: 1rem;
        padding-top: 2%;
        height: 30%;
    }
    .card-back{
        transform: translateX(14vw) translateY(15vh);
    }
    #card-back-cvc{
        font-size: 1.5rem;
        padding-right: 3.2rem;
    }

    main{
        width: 65%;
        height: 100vh;
        padding: 0;
        display: flex;  
        align-items: center;
        justify-content: center;
    }
    .form-container{
        width: 50%;
    }

}

/*! utility classes */

.opacity-none{
    opacity: 0;
}

.display-none{
    display: none;
}

.disappear{
    animation: vanish 1s ease-in 0.1s forwards;
}

.input-error{
    border-color: var(--error);
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.reappear{
    animation: unvanish 0.5s ease-in 0.1s forwards;
}

@keyframes unvanish {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}


.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0.5%;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}