@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url(reset.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --error: hsl(0, 100%, 66%);
    --gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(270, 3%, 87%);
    --dark-gray: hsl(279, 6%, 55%);
    --dark-violet: hsl(278, 68%, 11%);
    --font: 'Space Grotesk', sans-serif;
}

/*! styles - fonts and colors */

body{
    font-family: var(--font);
    font-size: 18px;
}

#card-front-num{
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.card-bottom{
    color: var(--white);
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    
}

.card-back{
    color: var(--white);
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}

label{
    color: var(--dark-violet);
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

input{
    color: var(--light-gray);
}

.error{
    color: var(--error);
    font-size: 0.8rem;
}

/*! layout */

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: auto;

}

aside{
    width: 100vw;
    height: 35vh;
    max-height: 15rem;
    background-image: url(images/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar{
    position:relative;
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front{
    position: absolute;
    width: clamp(30vw,17rem,80vw);
    aspect-ratio: 447/245;
    transform: translateX(-1.2rem) translateY(4.5rem);
    /* top: 120%;
    left: 5%; */
    z-index: 2;
    background-image: url(images/bg-card-front.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.card-front>img{
    width: 4rem;
    padding: 1rem 0 1.5rem 1rem;
}

.card-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
}

.card-bottom>*{
    padding: 0 1rem;
}

.card-back{
    position: absolute;
    width: clamp(30vw,17rem,80vw);
    aspect-ratio: 447/245;
    transform: translateX(10vw) translateY(-1.8vh);
    background-image: url(images/bg-card-back.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

#card-back-cvc{
    padding-top: 24%;
    padding-right: 1.8rem;
}

main{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-container{
    max-width: 85vw;
    padding-top: 1rem;
}

form > *{
    padding: 0.5rem 0;
}

label{
    margin: 1rem 0;
}

input{
    border: 0.1rem solid;
    border-radius: 0.5rem;
    padding: 0.5rem 0.5rem;
    margin-top: 0.2rem ;
    width: 100%;
}

.expcvc-container{
    display: flex;
    gap: 0.2rem;
    width: 100%;
}

.exp-container{
    max-width: 50%;
}

.exp-container> input{
    max-width: 45%;
    
}

.cvc-container{
    max-width: 50%;
}

#submit-btn{
    color: var(--white);
    background-color: var(--dark-violet);
    text-align: center;
    padding: 1rem 3rem;
    border-radius: 0.6rem;
    margin-top: 1rem;

}

.error{
    padding: 0;
}

@media (min-width:700px) {
    body{
        flex-direction: row;
    }
    aside{
        width: 30%;
        height: 100vh;
        background-image: url(images/bg-main-desktop.png);
    }
}


/* 
body{
    font-size: 18px;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

aside{
    height: 50%;
    width: 100%;
}

.bg-gradient{
    z-index: -1;
    height: 100%;
}

.bg-gradient img{
    width: 100%;
    height: 18rem;
}

.sidebar{
    color: white;
}

.card-front {
    width: 300px;
    z-index: -2;
}

.card-back{
    width: 300px;
    z-index: -3;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;

}

@media (min-width:700px) {
    body{
        flex-direction: column;
    }
    .bg-gradient img{
        width: 30%;
        height: 100%;
    }
    aside{
        width: 30%;
    }
} */





/* .confirmed{
    
} */

/*! utility classes */

.opacity-none{
    opacity: 0;
}

.display-none{
    display: none;
}

.disappear{
    animation: vanish 1s ease-in 0.1s forwards;
}

@keyframes vanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.reappear{
    animation: unvanish 0.5s ease-in 0.1s forwards;
}

@keyframes unvanish {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

/* .error-name{
    display: none;
} */

.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0.5%;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}